.People_Card {
    margin: 10px;
    padding: 10px;
    flex-basis: 21.5%;
    height: 200px;
    background-color: lightblue;
}

.People_List {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: gray;
}