/*Common Values*/
:root{
    --Main_Color: orange;
    --Secondary_Color: rgb(186, 121, 0);

    --Main_Trans: rgba(255, 255, 255, 0.3);
    --Secondary_Trans: rgba(255, 255, 255, 0.8);
}

.Card_Format {
    flex: 0 1 25%;
    margin: .8em;
    padding: 10px;
    transition: .5s;
    border-radius: 15px;
    height: inherit;
    border: 2px outset var(--Main_Trans);
    background-color: var(--Secondary_Color);
}
.Card_Format > h2 {
    letter-spacing: 0.15rem;
    font-style: italic;
    text-align: center;
    font-size: 26px;
    color: white;
}
.Card_Format > p {
    margin-bottom: 5px;
    letter-spacing: .05rem;
    font-size: 1.2rem;
    text-align: center;
    color:black;
}
.Card_Format:hover{
    border: 2px outset var(--Secondary_Trans);
    background-color: var(--Main_Color);
}

.Card_List {
    display: flex;
    width: 100%;
    padding: 2em;
    flex-basis: 1;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.Root_Changer_Main {
    display: flex;
    justify-content: center;
}
.Root_Changer_Selected {
    color: white !important;
    outline: 1px outset var(--Secondary_Trans) !important;
    background-color: var(--Main_Color) !important;
}
.Root_Changer_Main button{
    text-transform:capitalize;
    width: 125px;
    height: 50px;
    margin: 2px 5px;
    border-radius: 15px;
    padding: 10px;
    color: black;
    font-size: 18px;
    border: 2px outset var(--Main_Trans);
    background-color: var(--Secondary_Color);
}

::placeholder{
    text-align: center;
    opacity: .15;
    font-size: 20px;
    color: black;
}

.Searchbox{
    margin: 32px auto;
    padding: 18px;
    width: 260px;
    height: 2.6em;
    display: flex;
    text-align: center;
    transition: .5s;
    border-radius: 15px;
    font-size: 18px;
    border: 2px outset var(--Main_Trans);
    color: black;
    background-color: var(--Secondary_Color);
}

.Searchbox:focus {
    outline: 1px outset var(--Secondary_Trans);
    background-color: orange;
}

.Main_Div {
    margin: auto;
    max-width: 1300px;
}

.Top_Side h1 {
    margin: 50px 10px 10px 10px;
    text-align: center;
    font-size: 60px;
    color: var(--Main_Color);
}

.Top_Side hr {
    width: 390px;
    border-radius: 15px;
    background-color: var(--Main_Color);
    border: 2px solid var(--Main_Color);
}

.Loading {
    color: var(--Main_Color);
    text-align: center;
    font-size: 60px;
}


@media screen and (max-width: 700px) {
    .Card_Format {
        border: hidden;
        margin: 0 0 20px 0;
        border-radius: 0;
    }
    .Top_Side hr {
        width: 300px;
        border-radius: 0;
    }
    .Searchbox{
        border-radius: 0;
    }
    .Root_Changer_Main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Root_Changer_Main button {
        margin: 0px;
        width: 100%;
        border-radius: 0;
    }
    .Card_Format:hover{
        border: hidden;
    }
    .Card_List {
        margin-top: 20px;
        padding: 0;
        flex-direction: column;
    }
}