.Card_Format {
    margin: .8em;
    padding: 10px;
    flex-basis: 22%;
    flex-grow: 1;
    border-radius: 15px;
    background-color: darkgoldenrod;
}

.Card_List {
    display: flex;
    width: 100%;
    padding: 2em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Root_Changer_Main {
    display: flex;
    justify-content: center;
}

.Searchbox{
    display: flex;
    margin: auto;
}

.Main_Div > h1 {
    text-align: center;
    font-size: 60px;
    color: orange;
}
